@model WebUI.ViewModels.Profile.ProfileViewModel
@{
    ViewBag.Title = Localizer["Title"];
}

    <div class="profile-page">

        <h1 class="left-align">@Localizer["Title"]</h1>
        <div class="profile-grid">

            <div class="profile-author-wrapper">

                <div class="profile-logo-container">
                    @if (Model.Avatar == null || Model.Avatar.Count() == 0)
                    {
                        <img class="profile-image" src="~/resources/.png">
                    }
                    else
                    {
                        <img class="profile-image" src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Avatar))">
                    }
                </div>

                <div class="profile-author-info-container">
                    <p class="profile-author-name">@Model.FirstName @Model.LastName</p>
                    <p class="profile-author-email">@Model.Email</p>
                    <!--<p class="profile-author-email">@Model.Age @Localizer["Years"]</p>-->
                </div>
                <div class="profile-author-statistics-container">
                    <p class="profile-author-statistics">@Localizer["Posts"]: @Model.TotalPostsNumber </p>
                    <p class="profile-author-statistics">@Localizer["Comments"]: @Model.TotalCommentsNumber</p>
                </div>
            </div>

            <div class="profile-about-wrapper">

                <div class="profile-about-controls-container">
                    <div class="profile-profile-controls ">
                        <a asp-controller="Profile" asp-action="Index" asp-route-id="@Model.Id" class="profile-control selected">@Localizer["Profile"]</a>
                    </div>
                    @if(Model.CurrentReaderId == Model.Id)
                    {
                        <div class="profile-edit-controls">
                            <a asp-controller="Profile" asp-action="Edit" asp-route-id="@Model.Id" class="profile-control">@Localizer["Edit"]</a>
                        </div>
                    }
                </div>

                <div class="profile-about-title-container">
                    <p class="profile-about-title">@Localizer["AuthorProfile"]</p>
                </div>

                <div class="profile-about-info-container">
                    <h2 class="profile-about-info-title">@Localizer["Profession"]</h2>
                    @if (Model.Profession == null)
                    {
                        <p class="profile-about-info-text">@Localizer["NoContent"]</p>
                    }
                    else
                    {
                        <p class="profile-about-info-text">@Model.Profession</p>
                    }

                    <h2 class="profile-about-info-title">@Localizer["About"]</h2>
                    @if (Model.About == null)
                    {
                        <p class="profile-about-info-text">@Localizer["NoContent"]</p>
                    }
                    else
                    {
                        <p class="profile-about-info-text">@Model.About</p>
                    }

                    <h2 class="profile-about-info-title">@Localizer["Hobbies"]</h2>
                    @if (Model.About == null)
                    {
                        <p class="profile-about-info-text">@Localizer["NoContent"]</p>
                    }
                    else
                    {
                        <p class="profile-about-info-text">@Model.Hobbies</p>
                    }

                </div>
                <div class="profile-about-activities-container">
                    <h2 class="profile-about-info-title">@Localizer["RecentActivity"]</h2>
                    <div class="activity-list">
                        @foreach (var post in Model.Posts)
                        {
                            <div class="activity-date">
                                <p class="profile-about-info-text">@post.Date.ToString("MMMM d, yyyy")</p>
                            </div>
                            <div class="activity-name">
                                <a asp-controller="Posts" asp-action="Read" asp-route-id="@post.Id" class="profile-about-info-text">@post.Title</a>
                            </div>
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>