@model IEnumerable<WebUI.ViewModels.PostViewModel>
@{
    ViewBag.Title = Localizer["Title"];
}

<div class="posts-page">

    <h1 class="left-align">@Localizer["Title"]</h1>
    <div class="articles-grid">

        @foreach (var post in Model)
        {
            <div class="article-wrapper">
                <div class="article-title-container">
                    <h2 class="article-title">@post.Title</h2>
                </div>

                <div class="article-info">
                    <div class="article-author">
                        <a asp-route-authorId="@post.AuthorId" asp-controller="Profile" asp-action="Index" class="article-info-text">@Localizer["By"] @post.Author</a>
                    </div>

                    <div class="article-date">
                        <p class="article-info-text">@post.Date.ToString("MMMM d, yyyy")</p>
                    </div>
                </div>
                <div class="aricle-content">
                    <p class="article-content-text">@post.Text</p>
                </div>
                <div class="article-read-more">
                    <a asp-route-postId="@post.Id" asp-controller="Posts" asp-action="Read" class="btn-wide">@Localizer["Read"]</a>
                </div>
            </div>
        }

    </div>

</div>