@model WebUI.ViewModels.Posts.PostViewModel
@{
    ViewBag.Title = Localizer["Title"];
}

    <div class="post-page">

        <h1 class="left-align">@Localizer["Title"]</h1>

        <div class="post-grid">

            <div class="post-wrapper">

                <div class="article-title-container">
                    <h2 class="article-title">@Model.Title</h2>
                </div>

                <div class="article-info">
                    <div class="article-author">
                        <p class="article-info-text">@Localizer["By"] @Model.Author</p>
                    </div>

                    <div class="article-date">
                        <p class="article-info-text">@Model.Date.ToString("MMMM d, yyyy")</p>
                    </div>
                </div>
                <div class="post-content">
                    <p class="post-content-text">
                        @Model.Text
                    </p>
                </div>

                @if (Model.CurrentReaderId == Model.AuthorId)
                {
                    <div class="post-edit-container">
                        <a asp-controller="Posts" asp-action="Edit" asp-route-id="@Model.Id" class="post-edit-text">@Localizer["Edit"]</a>
                        <a asp-controller="Posts" asp-action="Delete" asp-route-id="@Model.Id" class="post-edit-text">@Localizer["Remove"]</a>
                    </div>
                }
            </div>

            @await Component.InvokeAsync("AddComment", new { id = Model.Id })

            @if (Model.Comments.Count != 0)
            {
                <div class="comments-wrapper">

                    <div class="comments-count-container">
                        <div class="comments-count-text">
                            <p>@Localizer["Comments"]</p>
                        </div>
                    </div>

                    <div class="comments-list-container">

                        @foreach (var comment in Model.Comments)
                        {
                            <div class="single-comment-wrapper">
                                <div class="comment-user-logo-container">
                                    @if (comment.AuthorAvatar == null || comment.AuthorAvatar.Count() == 0)
                                    {
                                        <img src="~/resources/user-1.png" alt="user" class="comment-user-image">
                                    }
                                    else
                                    {
                                        <img src="data:image/jpeg;base64,@(Convert.ToBase64String(comment.AuthorAvatar))" alt="user" class="comment-user-image">
                                    }
                                </div>
                                <div class="comment-info-container">
                                    <a asp-controller="Profile" asp-action="Index" asp-route-id="@comment.AuthorId" class="comment-info-text">@comment.Author</a>
                                    <p class="comment-info-text">@comment.Age  @Localizer[comment.AgeUnits.ToString()] @Localizer["Ago"]</p>
                                </div>
                                <div class="comment-content-container">
                                    <p class="comment-content-text">@comment.Text</p>
                                    <input type="hidden" class="comment-id" value="@comment.Id" />
                                </div>

                                @if (Model.CurrentReaderId == comment.AuthorId)
                                {
                                    <div class="comment-edit-container">
                                        <a href="#" onclick="editCommentView(event)" class="comment-edit-text">@Localizer["Edit"]</a>
                                        <a asp-controller="Comments" asp-action="Delete" asp-route-id="@comment.Id" asp-route-returnUrl="@Url.Action("Read", "Posts", new { id = Model.Id })" class="comment-edit-text comment-remove-btn">@Localizer["Remove"]</a>
                                    </div>
                                }
                            </div>
                        }

                    </div>
                </div>
            }
        </div>     
    </div>
    <script src="~/js/editComment.js"></script>