@model WebUI.ViewModels.Posts.PostViewModel
@{
    ViewBag.Title = "Read Post";
}

    <form class="text-center">
        <article>
            <h2>@Model.Title</h2>
            <p>@Model.Author</p>
            <p class="text-justify">@Model.Text</p>
            <p>@Model.Date.ToString("MMMM d, yyyy")</p>
        </article>

        @await Component.InvokeAsync("AddComment", new { postId = Model.Id })

        <article>
            @foreach (var comment in Model.Comments)
            {
                <div>
                    <p>
                        <b>@comment.Author</b>
                        (@comment.Age  @comment.AgeUnits.ToString() ago)
                    </p>
                    <p>@comment.Text</p>
                </div>
            }
        </article>
    </form>