
@model WebUI.ViewModels.EmailViewModel

@{
    Layout = "_Email";
}

<div class="email-container">
    <div class="email-wrapper">
        <div class="email-logo">
            <img class="email-logo-img" src="@Model.LogoUrl">
            <hr class="separator" />
        </div>
        <div class="email-content">
            <div class="email-header">
                <h1>@Localizer["Title"]</h1>
            </div>
            <div class="email-text">
                <p>@Localizer["Hi"] @Model.AuthorName,</p>
                <p>@Localizer["TapToReset"]<br>@Localizer["IfDidNotCreate"] <a href="@Model.HomePageUrl" target="_blank">OpenDiary</a>@Localizer["YourCanDelete"]</p>
            </div>
            <div class="email-button">
                <a class="btn-main" href="@Model.CallbackUrl" target="_blank">@Localizer["ClickToVerify"]</a>
            </div>
            <div class="email-copyrights">
                <p>Open Diary © 2020</p>
            </div>
        </div>
        <div class="email-footer">
            <hr class="separator" />
            <div class="email-mistake">
                <p>@Localizer["MistakeMessage"]</p>
            </div>
        </div>
    </div>
</div>