@model WebUI.ViewModels.AuthorsViewModel
@{
    ViewBag.Title = Localizer["Title"];
}

    <div class="authors-page">

        <h1 class="left-align">@Localizer["Title"]</h1>

        @if (Model.IsAdmin)
        {
            <a asp-controller="Users" asp-action="Create">Add user</a>
        }

        @if (Model.Authors.Count != 0)
        {
            <div class="authors-grid">

                @foreach (var author in Model.Authors)
                {
                <div class="author-wrapper">
                    <div class="author-logo-container">
                        <a asp-controller="Profile" asp-action="Index" asp-route-id="@author.AuthorId">
                            @if (author.Avatar == null || author.Avatar.Count() == 0)
                            {
                                <img src="~/resources/user-3.png" alt="author" class="author-image">
                            }
                            else
                            {
                                <img alt="author" class="author-image" src="data:image/jpg;base64,@(Convert.ToBase64String(author.Avatar))">
                            }
                        </a>
                    </div>
                    <div class="author-info-container">
                        <a asp-controller="Profile" asp-action="Index" asp-route-id="@author.AuthorId" class="author-info-name">@author.FirstName @author.LastName</a>
                    </div>
                    <div class="author-statistics-container">
                        <a asp-controller="Posts" asp-action="Index" asp-route-id="@author.AuthorId" class="author-statistics-text">@author.PostsNumber @Localizer["Posts"]</a>
                        <p class="author-statistics-text">/</p>
                        <p class="author-statistics-text">@author.CommentsNumber @Localizer["Comments"]</p>
                    </div>

                    @if (Model.IsAdmin)
                    {
                        <div class="author-edit-container">
                            <a asp-controller="Users" asp-action="Edit" asp-route-id="@author.UserId" class="author-edit-text">@Localizer["Edit"]</a>
                            <a asp-controller="Users" asp-action="Delete" asp-route-id="@author.AuthorId" class="author-edit-text">@Localizer["Remove"]</a>
                        </div>
                    }

                </div>
                }
            </div>
        }
    </div>