<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Open Diary</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />


    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />

    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <header>
        <div class="nav grid">
            <ul class="nav-left">
                <li>
                    <a asp-controller="Home" asp-action="Index">
                        <img src="~/resources/logo-2.png" class="nav-logo" asp-controller="Home" asp-action="Index">
                    </a>
                </li>
                <li>
                    <a asp-controller="Home" asp-action="Index">@Localizer["About"]</a>
                </li>
                <li>
                    <a asp-controller="Authors" asp-action="Index">@Localizer["Authors"]</a>
                </li>
                <li>
                    <a asp-controller="Posts" asp-action="Index">@Localizer["Posts"]</a>
                </li>
            </ul>
            @await Component.InvokeAsync("Login")
        </div>
    </header>

    <main>
        @RenderBody()
    </main>

    <div class="footer grid">
        <div class="copyright">
            <p>️&copy; OPEN DIARY 2020</p>
        </div>
        <div class="language">
            <partial name="_SelectLanguagePartial" />
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>