@model IEnumerable<Domain.Entities.User>
@{
    ViewBag.Title = "User list";
}

<a asp-action="Create">Add user</a>

<table class="table">
    <tr><th>Name</th><th>Email</th><th>Birth date</th><th></th></tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.FirstName @user.LastName</td>
            <td>@user.Email</td>
            <td>@user.BirthDate</td>
            <td>
                <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                    <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@user.Id">Edit</a>
                    <a class="btn btn-sm btn-primary" asp-action="ChangePassword" asp-route-id="@user.Id">Change password</a>
                    <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                </form>
            </td>
        </tr>
    }
</table>