@model WebUI.ViewModels.Account.ResetPasswordViewModel

@{
    ViewData["Title"] = Localizer["Title"];
}

<div class="sign-in-up-page">

    <h1 class="">@Localizer["ResetPassword"]</h1>

    <form class="reset-password-succeeded-container" asp-controller="Account" asp-action="ResetPassword" method="post">

        <div class="form-group-col">
            <div class="validation-message" asp-validation-summary="All"></div>
        </div>

        <div class="input-group form-group">
            <p class="confirm-message">@Localizer["Message"]</p>
        </div>

        <div class="input-group">
            <input asp-for="UserName" type="hidden" />
            <input asp-for="Token" type="hidden" />
        </div>

        <div class="input-group form-group">
            <div class="input-group-prepend">
                <span class="input-group-text">@Localizer["Password"]</span>
            </div>
            <input asp-for="Password" placeholder=@Localizer["PasswordPlaceholder"] type="password" aria-label="Password" class="form-control" />
        </div>

        <div class="input-group form-group">
            <div class="input-group-prepend">
                <span class="input-group-text">@Localizer["ConfirmPassword"]</span>
            </div>
            <input asp-for="ConfirmPassword" placeholder=@Localizer["ConfirmPasswordPlaceholder"] type="password" aria-label="PasswordConfirm" class="form-control">
        </div>

        <div class="form-group-row">
            <button type="submit" class="btn-main">@Localizer["Save"]</button>
        </div>
    </form>

</div>