@model WebUI.ViewModels.Account.RegisterViewModel
@{
    ViewBag.Title = Localizer["Title"];
}

<h2>@Localizer["ConfirmationSend"]</h2>
<p>Hi @Model.FirstName @Model.LastName!</p>
<p>
    @Localizer["RegisterSucceeded"]<br />
    @Localizer["CheckEmail", Model.Email]
</p>