@model WebUI.ViewModels.AuthorViewModel

@if (Model != null)
{
    <ul class="nav-right">
        <li>
            @if (Model.Avatar == null || Model.Avatar.Count() == 0)
            {
                <img class="dropdown-img" src="~/resources/UserLogo.png" alt="user" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" />
            }
            else
            {
                <img class="dropdown-img" src="data:image/jpg;base64,@(Convert.ToBase64String(Model.Avatar))" alt="user" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" />
            }

            <div class="dropdown-menu">
                <form class="dropdown-item" asp-area="">
                    <button type="submit" class="dropdown-btn" asp-controller="Profile" asp-action="Index" asp-route-id="@Model.AuthorId">
                        @Localizer["SignedInAs"] <br />
                        <span class="capitalize">@Model.FirstName @Model.LastName</span>
                    </button>
                </form>
                <div class="dropdown-divider"></div>

                <a class="dropdown-item" asp-action="Index" asp-controller="Posts" asp-route-id="@Model.AuthorId">@Localizer["Posts"]</a>
                <div class="dropdown-divider"></div>

                <a class="dropdown-item" asp-action="Create" asp-controller="Posts">@Localizer["WriteNew"]</a>
                <div class="dropdown-divider"></div>

                <form class="dropdown-item" asp-area="">
                    <button type="submit" class="dropdown-btn" asp-controller="Account" asp-action="Logout">@Localizer["Logout"]</button>
                </form>
            </div>
        </li>
    </ul>
}
else
{
<ul class="nav-right">
    <li>
        <a asp-action="Login" asp-controller="Account">@Localizer["SingIn"]</a>
    </li>
    <li>
        <a asp-action="SignUp" asp-controller="Account">@Localizer["SingUp"]</a>
    </li>
</ul>
}